extends layout

block content
  .row.banner
    .col-12
      h1= title

  .row
    .col-12.col-lg-8
      p
        
        <br /><br />
        SnapSage: Your Ultimate Photographer Recommendation Hub
        Welcome to SnapSage, the premier destination for discovering and connecting with the best photographers tailored to your unique needs. Whether you're searching for a professional to capture your special moments, enhance your brand, or create stunning visuals for your next project, SnapSage is here to guide you.
        |
