extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1 Find best photographers near you!
      small &nbsp;according to your intrests

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Bhavani digital studio
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address near malikarjuna temple,boduppal, hyderabad
          p.facilities
            span.badge.badge-warning Marriage,pre wedding shooting
            span.badge.badge-warning birthdays
            span.badge.badge-warning outdoor shooting

    .col-12.col-md-4
      
      | 




  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Shooter spot
          
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address near uppal depot,peerdaziguda, hyderabad
          p.facilities
            span.badge.badge-warning Marriage,pre wedding shooting
            span.badge.badge-warning birthdays
            span.badge.badge-warning outdoor shooting

    .col-12.col-md-4




  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") shiva studio
          
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address near jodimetla,anoojiguda, hyderabad
          p.facilities
            span.badge.badge-warning Marriage,pre wedding shooting
            span.badge.badge-warning birthdays
            span.badge.badge-warning outdoor shooting

    .col-12.col-md-4

  
   .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Bindu studio
          
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address near ghatkesar,ghatkesar, hyderabad
          p.facilities
            span.badge.badge-warning Marriage,pre wedding shooting
            span.badge.badge-warning birthdays
            span.badge.badge-warning outdoor shooting

    .col-12.col-md-4
      
      | 
